# Flask and essential web components
Flask==3.0.3
Werkzeug==3.0.3
Jinja2==3.1.4
itsdangerous==2.2.0
click==8.1.7
blinker==1.8.2
MarkupSafe==2.1.5

# Google Generative AI and its dependencies
google-generativeai==0.5.0
google-ai-generativelanguage==0.4.0
google-api-core==2.11.1
google-auth==2.29.0
protobuf==4.25.3
pydantic==2.7.1
tqdm==4.66.4
googleapis-common-protos==1.63.0
proto-plus==1.23.0

# Utilities
python-dotenv==1.0.1
certifi==2024.7.4
idna==3.7
six==1.16.0
attrs==23.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.5.15
urllib3==1.26.19
